<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: white;
        }
    </style>
    <title>Document</title>
</head>
<body>
    {% include 'accounts/navbar.html' %}
    {% block content %}
    {% endblock %}

    <hr>
    {% include 'accounts/footer.html' %}
</body>
</html>